<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = __d('cake_dev', 'Atendimento online - versão beta');
?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $cakeDescription ?>:
		<?php echo $title_for_layout; ?>
	</title>
	<?php
		echo $this->Html->meta('icon');
		echo $this->fetch('meta');
		echo $this->fetch('css');
		echo $this->fetch('script');
	?>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->Html->url('/app/webroot/css/cake.generic.css', true)?>" />
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>
                Sistema de atendimento - Versão beta
                <?php
                    if( $this->Session->read('Auth.User.id') != '' ){
						echo '( ' . $this->Html->link(
							'Sistema',
							array(
								'controller' => 'systems',
								'action' => 'edit',
								1
							)						
						)
						. ' | '
						. $this->Html->link(
							'Iniciar atendimento',
							array(
								'controller' => 'pages',
								'action' => 'display',
								1
							)						
						)
						. ' | '
                        . $this->Html->link( 
                            'Sair do sistema', 
                            array( 
                                'controller' => 'users',
                                'action' => 'logout'
                            )
                        ) 													
						. ' )';
                    }    
                ?>
            </h1>
		</div>
		<div id="content">            

			<?php echo $this->Session->flash(); ?>

			<?php echo $this->fetch('content'); ?>
		</div>
		<div id="footer">
            Sistema de atendimento - Versão beta
		</div>
	</div>
	<?php echo $this->element('sql_dump'); ?>
</body>
</html>
